.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 3rem;
    position: relative;
}

.expandable {
    cursor: pointer;
    border-radius: 20px;
    width: 28px;
    height: 28px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 40px;
    height: 40px;
}

.icon:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.expandable svg {
    margin-top: 2px;
}

.expandable:hover {
    background-color: #eaeaea;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}